.blog {
  margin-top: 3.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog h2 {
  text-align: center;
  text-align: center;
  color: black;
  font-size: 6.4rem;
  font-family: "DM Sans";
  font-weight: 500;
  word-wrap: break-word;
  margin-bottom: 1.5rem;
}