@font-face {
  font-family: "DM Sans";
  src: url("assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf") format("truetype");
}

@font-face {
  font-family: "Playfair Display";
  src: url("assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
}