$primary: #FF6624;
$secondary: #FF7F48;
$nav-text: #797575;
$slider-btn: #D9D9D9;

$min-contrast-ratio: 2.5;
$font-family-base: "DM Sans";
$nav-link-font-size: 3.2rem;
$font-size-root: 10px;

$btn-color: #FFFFFF;
$btn-border-radius: 30px;
$btn-padding-y: 20px;
$btn-padding-x: 64px;
$btn-font-family: "DM Sans";
$btn-font-size: 3.2rem;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1400px,
  xxl: 1990px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1320px,
  xxl: 1780px
);
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  10: $spacer * 6,
);